<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="employee/layout :: head"></head>

<body>
<nav th:replace="employee/layout :: header"></nav>
<div style="margin-top: 20px;"></div>
<div class="container" id="main-content">
    <div class="row">
        <div class="col-6 no-padding">
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search by name ..." />
                <button class="btn btn-primary" type="submit">
                    <i class="fa fa-search"></i> Search
                </button>
            </form>
        </div>

        <div class="col-6 no-padding">
            <a href="#" class="btn btn-success float-right">
                <i class="fa fa-plus-square"></i> New employee
            </a>
        </div>
    </div>

    <div>
        <h2>Dropdowns</h2>
        <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                Dropdown button
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Link 1</a>
                <a class="dropdown-item" href="#">Link 2</a>
                <a class="dropdown-item" href="#">Link 3</a>
            </div>
        </div>
    </div>

    <div>
<!--        <c:url value="/uploadExcelFile" var="uploadFileUrl" />-->
        <form method="post" enctype="multipart/form-data"
              action="${uploadFileUrl}">
            <input type="file" name="file" accept=".xls,.xlsx" /> <input
                type="submit" value="Upload file" />
        </form>
    </div>


    <div class="row mt-4">
        <th:block th:if="${#lists.isEmpty(employees)}">
            <h5>No employees</h5>
        </th:block>

        <th:block th:unless="${#lists.isEmpty(employees)}">
            <div class="table-responsive">
                <h5>List of employees</h5>
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>First Name</th>
                        <th>Last Name</th>

                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="employee,iterStat : ${employees}">
<!--                        <th scope="row" th:text="${iterStat.count}"></th>-->
                        <td th:text="${employee.id}"></td>
                        <td th:text="${employee.first_name}"></td>
                        <td th:text="${employee.last_name}"></td>
                        <td>
                            <a href="#" class="mr-sm-2 text-primary"><i class="fa fa-pencil"></i></a>
                            <a href="#" class="text-danger"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </th:block>

    </div>
</div><!-- /.container -->

<footer th:replace="employee/layout :: footer"></footer>

</body>
</html>